<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/strength-meter.min.css}">
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/strength-meter.min.js}"></script>
    <script th:src="@{/strength-meter-de.js}"></script>
</head>
<body>
<div class="container">
    <form th:object="${entry}" method="POST" id="form">
        <input type="hidden" name="id" th:value="*{getId()}">
        <input type="hidden" th:name="${_csrf.parameterName}" id="csrf" th:value="${_csrf.token}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="*{name}">
        </div>
        <div class="form-group">
            <label for="username">Benutzername</label>
            <input type="text" class="form-control" id="username" name="username" th:value="*{username}">
        </div>
        <div class="form-group">
            <label for="value">Wert</label>
            <input type="password" class="form-control" id="value" name="value" th:value="*{value}">
        </div>
        <div class="form-group">
            <label>
                Kategorie
                <select class="form-select" id="category" name="category" th:field="*{category}">
                    <option th:each="category: ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
    </form>
</div>
<script>
    $(() => {
        $("#value").strength({showMeter: true, language: "de"});
    });

</script>
</body>
</html>