<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Open Safe</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Passwörter</a>
    <div class="collapse navbar-collapse">
        <form class="form-inline navbar-nav ms-auto" action="/logout" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf">
            <button type="submit" class="btn btn-secondary ml-auto">Verlassen</button>
        </form>
    </div>
</nav>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Benutzername</th>
            <th scope="col">Passwort</th>
            <th scope="col">Kategorie</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:id="${password.getId()}" th:each="password, itemProfile: ${passwords}">
            <td th:text="${password.getId()}"></td>
            <td th:text="${password.getName()}"></td>
            <td th:text="${password.getUsername()}"></td>
            <td th:text="${password.getValue()}"></td>
            <td th:text="${password.getCategory().getName()}"></td>
            <td><button class="btn btn-warning password-del-btn">Löschen</button></td>
            <td><a class="btn btn-info" th:href="'/open-safe/edit/' + ${password.getId()}">Bearbeiten</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/open-safe/edit/0"><button type="button" class="btn btn-primary">Hinzufügen</button></a>
</div>
<script>
    $(() => {
       $(".password-del-btn").click(async (e) => await deleteEntry(e));
    });
    async function deleteEntry(event) {
        try {
            let row = event.target.parentNode.parentNode;
            let csrfElement = $("#csrf");
            let csrfName = csrfElement.attr('name');
            let csrfToken = csrfElement.val();
            let id = row.id;
            let formData = new URLSearchParams();
            formData.append(csrfName, csrfToken);
            await window.fetch(`/open-safe/${id}`, { method: "DELETE", body: formData });
            $(row).remove();
        } catch (e) {
            console.error(e);
        }
    }
    async function insertEntry(entry) {

    }
</script>
</body>
</html>